# 1. Compute the following expressions for a natural number n chosen by the user:

In [57]:
n = int(input("Enter a natural number n: "))
suma = 0
for i in range (n):
     print(i)
     if i % 2 != 0:
         suma += (i + 3)
         print(suma)

Enter a natural number n:  5

0
1
4
2
3
10
4

In [59]:
n = int(input("Enter a natural number n: "))
suma = 0
for i in range (n):
     print(i)
     if i % 2 == 0:
         suma *= (i + 3)
         print(suma)

Enter a natural number n:  5

0
0
1
2
0
3
4
0

# 2. Write a program that reads the number of the day of the week (from 0 to 6). If it is a working day, then the program will write the name of the corresponding day. Otherwise,it will write the word "Weekend".

In [1]:
dow= int(input("Enter n in (0 6): "))
if dow == 0:
    print('Sunday: It is a weekend')
elif dow == 1:
    print('Monday: It is a working day')
elif dow == 2:
    print('Tuesday: It is a working day')
elif dow == 3:
    print('Wednesday: It is a working day')
elif dow == 4: 
    print('Thursday: It is a working day')
elif dow == 5:
    print('Friday: It is a working day')
elif dow == 6:
    print('Saturday: It is a working day')
else:
    print('The day  does not exist')

Enter n in (0 6):  4

Thursday: It is a working day

In [3]:
Month=[0,1,2,3,4,5,6,7,8,9,10,11]
n = int(input("Enter the month: "))
if n in [0,2,4,6,7,9,11]:
    print('The month has 31 days')
elif n  in [3,5,8,10]:
    print('The month has 30 days has ')
elif n ==  1:
    print('The month has 28 days ')
else:
    print('No informantion' )

Enter the month:  3

The month has 30 days has

In [5]:
My_name = input('Enter the name: ')
for i in range(3):
    print(My_name)

Enter the name:  Emile

Emile
Emile
Emile

In [3]:
My_name = input('Enter the name: ')
i=0
while i in range(3):
    if(i<3):
     print(My_name)
    i = i+ 1

Enter the name:  Emile

Emile
Emile
Emile

In [7]:
num1 = int(input("Enter n1: "))
num2 = int(input("Enter n2: "))
print(num1)
print(num2)
for i in range (2,15):
    num3 = num1 + num2
    num1 = num2
    num2 = num3
    print(num2)

Enter n1:  2
Enter n2:  5

2
5
7
12
19
31
50
81
131
212
343
555
898
1453
2351

In [11]:
num1 = int(input("Enter n1: "))
num2 = int(input("Enter n2: "))
print(num1)
print(num2)
for i in range (2,30):
    num3 = 3*num1 + 0.5*num2
    num1 = num2
    num2 = num3
    print(num2)

Enter n1:  3
Enter n2:  2

3
2
10.0
11.0
35.5
50.75
131.875
218.1875
504.71875
906.921875
1967.6171875
3704.57421875
7755.138671875
14991.2919921875
30761.06201171875
60354.406982421875
122460.38952636719
242293.41571044922
488527.8764343262
971144.1853485107
1951155.721977234
3889010.417034149
7797972.374448776
15566017.438326836
31176925.842509747
62286515.23623538
124674035.14564693
249196563.2815296
498620387.0777056
996899883.3834416

In [44]:
YEAR=int(input("Enter a year: "))
if is_leap_year(YEAR):
    print( YEAR, "is a leap year.")
else:
    print(YEAR, "is not a leap year.")

Enter a year:  2024

2024 is a leap year.

In [42]:
n = int(input("Enter a natural number n: "))
sos = 0
for i in range(1, n + 1):
       sos += i ** 2
       print(sos)

Enter a natural number n:  5

1
5
14
30
55

In [ ]:


n = int(input("Enter a natural number n: "))
sos = 0
    i = 1
    while i <= n:
        sos += i ** 2
        i += 1